<ul id="social-networks">
  <li class="twitter"><a href="http://twitter.com/gamingnights">Seguí a <span class="username">@gamingnights</span></a></li>
  <li class="facebook"><a href="http://www.facebook.com/group.php?gid=40231480727">Unite al grupo en facebook</a></li>
</ul>
