<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Gaming Night Society</title>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="home" type="text/html" href="/">
</head>
<body>
  <h1 id="header"><a href="/" rel="home">Gaming Night Society</a></h1>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
